#meow{
    width: 50%;
    height: 50%;
    margin: 0 auto;
}

article{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    min-height: 600px;
}
.question, .result{
    display: none;
}
#result-img{
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.kakao_ad{
    width: 320px;
    margin: 0 auto;
}
.banner{
    display: flex;
    justify-content: center;
    width: 300px;
    margin: 0 auto;
}
.banner img{
    width: 300px;
}


@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.jalnan{
	font-family: 'yg-jalnan';
}

@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.gmarket{
	font-family: 'GmarketSansLight';
}
.bold{
    font-weight: bold;
}
.font--sm{
    font-size: 14px;
}
.font--lg{
    font-size: 22px;
}

